<%- include('../partials/nav') -%>

<h1>Entrees from American cuisine </h1>
<div>
    <ul>
        <li>  
            <% } else if (cuisine ==='Appetizers' ) { %>
            <div>
                <% cuisineCardsInfo.forEach(c=> { %>
                    <div>
                        <h3>
                            <%= c.apit %>
                        </h3>
                    </div>
                    <% }) %>
            </div></li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
    </ul>
    </div>

