<%- include('../partials/nav') -%>
<section >
    <h1>Entrees from American cuisine </h1>

  </section>
<div>
    <ul>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <li>
            <h3>Sub Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
    </ul>
    </div>

