
<%- include('../partials/nav') -%>
    <h1 h1 class="subPages-header">Deserts from American cuisine </h1>
<div >
    <ul class="subCuisine-list">
        <li>
            <a href=""><h3>Sub Title</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <hr>
        <li>
            <a href=""><h3>Sub Title</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <hr>
        <li>
            <a href=""><h3>Sub Title</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <hr>
        <li>
            <a href=""><h3>Sub Title</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
        <hr>
        <li>
            <a href=""><h3>Sub Title</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. molestias sunt tenetur dolorum obcaecati nobis dolorem eum veniam.</p>        
        </li>
    </ul>
    </div>

    <%- include('../partials/footer') -%>