<%- include('./partials/nav') %>
<!-- Banner Section -->
<section class="banner">
  <div class="container">
    <h1>Explore global flavors and dish out your thoughts!</h1>
    <p>
      Discover different cuisines in one place and embark on a culinary journey
      like no other.
    </p>
  </div>
</section>
<div class="container-fluid">
  <div class="section-text">
    <hr />
    <h3>You may like to check one of these world famous dishes?</h3>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Beef Brisket Pot Roast</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>America</span>
            </div>
            <p class="card-text">
              Tender cuts of beef slow cooked with mouthwatering herbs, paired
              with carrots and potates. A true American home-style dish.
            </p>
            <a href="/food/meal/52812" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Tandoori Chicken</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>India</span>
            </div>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="/food/meal/52806" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pizza Express Margherita</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>Italian</span>
            </div>
            <p class="card-text">
              Italy’s most emblematic culinary creation, the genuine pizza
              Margherita is made with just a few simple ingredients and prepared
              in only two variations – marinara,
            </p>
            <a href="/food/meal/53014" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lamb and Lemon Souvlaki</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>Greek</span>
            </div>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="/food/meal/53009" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Chicken Congee</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>China</span>
            </div>
            <p class="card-text">UPDATE</p>
            <a href="/food/meal/52956" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Cajun Spiced Fish Tacos</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>Mexico</span>
            </div>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="/food/meal/52819" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Thai Green Curry</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>Thailand</span>
            </div>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="/food/meal/52814" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img
            src="https://source.unsplash.com/featured/300x201"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Home-made Mandazi</h5>
            <div class="country-container">
              <img
                class="flag rounded-circle shadow-4-strong col-md-2 row"
                alt="avatar2"
                src="/public/images/chinca..jpg"
              />
              <span>Kenyan</span>
            </div>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="/food/meal/52967" class="btn btn-primary"
              >Click to see item >></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
