<%- include('./partials/nav') %>
<!-- Banner Section -->
<section class="banner">
  <div class="container">
    <h1>Explore global flavors and dish out your thoughts!</h1>
    <p>
      Discover different cuisines in one place and embark on a culinary journey
      like no other.
    </p>
  </div>
</section>
<div class="container-fluid">
  <div class="section-text">
    <hr />
    <h3>You may like to check one of these world famous dishes?</h3>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <a href="/food/meal/52812">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/ursuup1487348423.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Beef Brisket Pot Roast</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/USA.jpg"
                />
                <span>America</span>
              </div>
              <p class="card-text">
                Indulge in the rich, succulent goodness of our slow-cooked Beef
                Brisket Pot Roast, where fork-tender meat meets a symphony of
                savory herbs and hearty vegetables for an irresistible,
                comforting dining experience.
              </p>
              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/52806">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/qptpvt1487339892.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Tandoori Chicken</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/indiaSphere.png"
                />
                <span>India</span>
              </div>
              <p class="card-text">
                Savor the tantalizing blend of aromatic spices and tender,
                charred perfection of this Tandoori Chicken, a culinary
                masterpiece that captures the essence of traditional Indian
                flavors.
              </p>

              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/53014">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/x0lk931587671540.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Pizza Express Margherita</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/Italy.jpg"
                />
                <span>Italian</span>
              </div>
              <p class="card-text">
                Experience pizza perfection with this Pizza Express Margherita,
                where a harmonious fusion of vine-ripened tomatoes, creamy
                mozzarella, and fresh basil atop a crisp, artisanal crust
                delivers a timeless taste of Italy in every delightful bite.
              </p>

              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/53009">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/rjhf741585564676.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lamb and Lemon Souvlaki</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/greekSphere.png"
                />
                <span>Greek</span>
              </div>
              <p class="card-text">
                Savor the exquisite blend of succulent lamb infused with zesty
                lemon in this Souvlaki, a Mediterranean delight that transports
                your taste buds on a flavorful journey, grilled to perfection
                and bursting with tantalizing freshness.
              </p>

              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/52956">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/1529446352.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Chicken Congee</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/chinca..jpg"
                />
                <span>China</span>
              </div>
              <p class="card-text">
                Indulge in the comforting embrace of this Chicken Congee, a
                nourishing bowl of silky rice porridge adorned with tender
                chicken, ginger, and delicate herbs, providing a warm and
                soothing culinary experience."
              </p>
              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/52819">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/uvuyxu1503067369.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Cajun Spiced Fish Tacos</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/mexicoSphere.jpg"
                />
                <span>Mexico</span>
              </div>
              <p class="card-text">
                Embark on a flavor-packed adventure with these Cajun Spiced Fish
                Tacos, where perfectly seasoned fish meets the crunch of fresh
                veggies and the zing of zesty sauces, creating a vibrant and
                unforgettable taco sensation.
              </p>
              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/52814">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/sstssx1487349585.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Thai Green Curry</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/thailandSphere.jpg"
                />
                <span>Thailand</span>
              </div>
              <p class="card-text">
                Immerse your senses in the enchanting allure of this Thai Green
                Curry, a symphony of fragrant herbs, coconut milk, and perfectly
                balanced spices, embracing succulent chicken or vegetables in a
                rich, aromatic masterpiece.
              </p>
              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="/food/meal/52967">
          <div class="card">
            <img
              src="https://www.themealdb.com/images/media/meals/thazgm1555350962.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Home-made Mandazi</h5>
              <div class="country-container">
                <img
                  class="flag rounded-circle shadow-4-strong col-md-2 row"
                  alt="avatar2"
                  src="/public/images/kenyaShere.png"
                />
                <span>Kenyan</span>
              </div>
              <p class="card-text">
                Delight in the homemade warmth and sweetness of these Mandazi,
                each bite offering a perfect blend of golden, fluffy goodness
                with a touch of spice, capturing the essence of traditional
                African comfort in every delectable pastry.
              </p>
              <h6>Click to see item >></h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
