body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgb(45, 42, 42);
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
.title, p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.carousel-item{
  height: 18rem;
}
.carousel-inner{
  margin-bottom: 10px;
}

.navbar{
  background-color: rgb(184, 115, 51);
  padding-left: 30px;
}
.nav-item{
  margin-right: 20px;
  border-right: 1px solid black;
  padding-right: 20px;
}
.nav-item:last-child {
  border-right: none;
  float: right;
}
.nav-item a{
  color: black;
  font-weight: bold;
}
.login {
  float: right;
  margin-right: 0;
  background-color: transparent;
  border: 1px black solid;
  padding: 9px;
}
.banner {
  background-image: url('/public/images/ban1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.6;
}
.container-fluid{
  max-width: 90%;
}
.section-text{
  margin: 40px 0;
  text-align: center;
}
.card{
  margin: 1rem;
  box-shadow: 10px 10px 5px #3e3e3e;
}
.card-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-decoration: none;
  font-size: 35px;
}
.country-container{
  padding-top: 3px;
  padding-bottom: 3px;

}
.flag{
  display: inline;
  width: 24px;
  margin-left: 1px;
  margin-right: 0.2px;
}

.btn{
  background-color: white;
  color: black;
  border: none;
}
.btn:hover{
  background-color: #f4f4f4;
  color: black;
}
.subPage-header{
  margin: 20px;
  color: white;
}
.maintxt img{
  opacity: 0.5;
}
.maintxt img:hover {
  opacity: 1.0; 
}
footer{
  color: white;
  border-top: 1px soild rgb(184, 115, 51);
  
}
hr{
  margin-top: 80px;
  color: rgb(184, 115, 51);;
}
.subCuisine-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
  
}
.subCuisine-list li{
  border-bottom: 1px solid black;
}

/* by region */
svg{
  margin-top: 50px;
}
svg a{
  fill: rgb(184, 115, 51);
  stroke: black;
  stroke-width: .25;
}
svg path:hover{
  fill: #006284;
  transition: 0.6;
  cursor: pointer;
}

.singleMeal{
  flex-direction: column;
  justify-content: center;
  margin-top: 28px;
}
.singleMeal img{
  margin-top: 30px;
  height: 60vh;
  width: 70%;
}
.singleCard{
  display: grid;
}