<%- include('../partials/header') -%>

<h1>Canada Foods</h1>

<ul>
  <% for (const foodItem of canadaFood.meals) { %>
  <li><%= foodItem.strMeal %></li>
  <% } %>
</ul>

<%- include('../partials/footer') -%>
