<%- include('../partials/header') -%> canada <%
canada.meals.forEach(function(meal) { %>
<tr>
  <td><%= meal.strMeal %></td>
</tr>
<% }); %> canada.meals.strMeal.forEach(meal) meal.strMeal <%-
include('../partials/footer') -%>
